@model prototipo.Entities.Provincias
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@{    Layout = null;}
@using (Html.BeginForm("CreateProvincia", "Envios", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <h3 class="modal-title text-center">AGREGAR NUEVA PROVINCIA</h3>
    <hr />
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <label>PAIS</label>
        @Html.DropDownListFor(Model => Model.PaisID, new SelectList(ViewBag.ListaPaises as System.Collections.IEnumerable, "PaisID", "PaisName"), "ELIJA UN PAIS", new { @class = "form-control", id = "Pais" })
        @Html.Hidden("PaisID");
        <br />
        <label>PROVINCIA</label>
        @Html.TextBoxFor(model => model.ProvinciaName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProvinciaName)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#Pais').change(function () {
        $('#PaisID').val($('#Pais:selected').val());
    });
</script>
