@model prototipo.Entities.Paises
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@{ Layout = null; }
@using (Html.BeginForm("EditPais", "Envios", new { PaisID = @ViewBag.PaisID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <h3 class="modal-title text-center">EDITAR PAIS</h3>
    <hr />
    @Html.ValidationSummary(true)
    <div class="modal-body text-center">
        <label>PAIS A EDITAR</label>
        <p name="PaisID">@ViewBag.PaisName</p>
        @Html.TextBoxFor(model => model.PaisName, new { Value = ViewBag.PaisName, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PaisName)
    </div>
    <div class="modal-footer">
        <button type="button" class="pull-left btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-success">MODIFICAR</button>
    </div>
}

