@model prototipo.Entities.Provincias
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@{ Layout = null; }
@using (Html.BeginForm("EditProvincia", "Envios", new { ProvinciaId = @ViewBag.ProvinciaId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <h3 class="modal-title text-center">EDITAR PROVINCIA</h3>
    <hr />
    @Html.ValidationSummary(true)
    <div class="modal-body text-center">
        <label>PROVINCIA A EDITAR</label>
        <p name="ProvinciaId">@ViewBag.ProvinciaName</p>
        @Html.TextBoxFor(model => model.ProvinciaName, new { Value = ViewBag.ProvinciaName, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProvinciaName)
    </div>
    <div class="modal-footer">
        <button type="button" class="pull-left btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-success">MODIFICAR</button>
    </div>
}

