@model prototipo.MVC.Models.BaseModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@Scripts.Render("~/Scripts/envios.js")
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td><h2>DIRECCIÓN</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PAIS</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.ListaPaises != null)
                            {
                                @Html.DropDownListFor(Model => Model.PaisId, new SelectList(ViewBag.ListaPaises as System.Collections.IEnumerable, "PaisID", "PaisName"), "ELIJA UN PAIS", new { @class = "form-control", id = "Pais" })
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-url="@Url.Action("CreatePais","Envios")" id="btnCreatePais">
                                CREAR                               
                            </button>
                        <td>
                            <button class="btn btn-warning modal-edit" data-url="@Url.Action("EditPais","Envios")" id="btnEditPais">EDITAR</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-url="@Url.Action("DeletePais","Envios")" id="btnDeletePais">
                                ELIMINAR
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PROVINCIA</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(Model => Model.ProvinciaId, new SelectList(Enumerable.Empty<SelectListItem>(), "ProvinciaID", "ProvinciaName"), "ELIJA UNA PROVINCIA", new { @class = "form-control", id = "Provincia" })
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-url="@Url.Action("CreateProvincia","Envios")" id="btnCreateProvincia">
                                CREAR
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-warning modal-edit" data -url="@Url.Action("EditProvincia","Envios")" id="btnEditProvincia">EDITAR</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-url="@Url.Action("DeleteProvincia","Envios")" id="btnDeleteProvincia">
                                ELIMINAR
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>LOCALIDAD</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(Model => Model.LocalidadId, new SelectList(Enumerable.Empty<SelectListItem>(), "localidadID", "LocalidadName"), "ELIJA UNA LOCALIDAD", new { @class = "form-control", id = "Localidad" })
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-url="@Url.Action("CreateLocalidad","Envios")" id="btnCreateLocalidad">
                                CREAR
                            </button>
                        <td>
                            <button class="btn btn-warning modal-edit" data-url="@Url.Action("EditLocalidad","Envios")" id="btnEditLocalidad">EDITAR</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-url="@Url.Action("DeleteLocalidad","Envios")" id="btnDeleteLocalidad">
                                ELIMINAR
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CALLE</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">@Html.TextBox("CalleName", null, new { @class = "form-control" })</td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" value="CARGAR DIRECCION" class="btn btn-info" id="submitbtn" />
            @Html.ActionLink("BORRAR", "Index", "Envios", new { @class = "btn btn-info" })


            <br />
            <br />
            @Html.TextArea("txtInfo", string.Empty, 4, 55, new { @class = "form-group", @readonly = true })

            <br />
            <br />
        </div>
    </div>


    <div id="modal-add" class=" modal fade in">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div id='modal-add-content'></div>
            </div>
        </div>
    </div>

    <div class="modal hide fade in" id="modal-edit">
        <div id="modal-edit-container"></div>
    </div>
</body>
</html>